In [16]:
import pandas as pd

df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/datasets/boston_housing/boston_housing.txt', delim_whitespace=True, header=None)
df.to_csv('boston_housing.csv', index=False)

In [17]:
df = df.rename(columns={
    0: 'delete',
    1: 'crim',
    2: 'zn',
    3: 'indus',
    4: 'chas',
    5: 'nox',
    6: 'rm',
    7: 'age',
    8: 'dis',
    9: 'rad',
    10: 'tax',
    11: 'ptratio',
    12: 'black',
    13: 'lstat',
    14: 'medv'
})

In [18]:
df = df.drop('delete', axis = 1)
df.to_csv('boston_housing_new.csv', index=False)

In [19]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [21]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=765)

In [35]:
print(X_train.shape)
print(X_test.shape)

(354, 13)
(152, 13)

In [36]:
from sklearn.linear_model import LinearRegression

In [38]:
my_super_first_model = LinearRegression()

In [39]:
%%time
my_super_first_model.fit(X_train, y_train)

CPU times: user 4.91 ms, sys: 436 µs, total: 5.34 ms
Wall time: 7.8 ms

LinearRegression()

In [40]:
pred = my_super_first_model.predict(X_test)

In [41]:
test_pred = X_test.copy()

In [42]:
test_pred['predict'] = pred
test_pred['real_medv'] = y_test

In [43]:
test_pred[['predict','real_medv']].head()

       predict  real_medv
187  33.318906       32.0
340  21.537582       18.7
129  14.134530       14.3
15   19.472750       19.9
20   11.752492       13.6

In [44]:
from sklearn.metrics import mean_squared_error

In [45]:
print('Ошибка RMSE c random seed 765 =',mean_squared_error(y_test, pred))

Ошибка RMSE c random seed 765 = 22.63014308146783

In [47]:
pr = []


for i in range(10000):
    X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=i)
    my_super_first_model = LinearRegression()
    my_super_first_model.fit(X_train, y_train)
    pred = my_super_first_model.predict(X_test)
#     print('Ошибка c random seed=',i,' RMSE =',mean_squared_error(y_test, pred))
    pr.append(mean_squared_error(y_test, pred))

pd.Series(pr).mean()

24.188215822150035